{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock %}
{% block ext_css %}
  <link rel="stylesheet" href="{% static 'article/add_course.css' %}">
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
          <div><label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
            {{ field }}
            <p class="text-danger">{{ field.errors.as_text }}</p>
        {% endfor %}
          <div class="tip">{{ register_form.non_field_errors }}</div>
          <input type="submit" value="提交" class="save-btn">
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
  <div class="website-info">
    <p>粤ICP备18135148号-1 Copyright©2018 zqyhdm.com 版权所有</p>
    <p>意见反馈或联系我（943318968@qq.com）</p>
  </div>
</div>
{% endblock %}
{% block ext_js %}

{% endblock %}