{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% load score_tags %}
{% load likes_tags %}
{% load participate_tags %}
{% block title %}
  {{ article.title }}
{% endblock %}
{% block ext_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'article/article_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/option_card.css' %}">
  {#  <link rel="stylesheet" href="{% static 'article/article-detail-btn.css' %}">#}
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row" style="background-color: #fff">
      <div class="col-md-12 article-head">
        <div class="head-info">
          <div class="article-img col-md-5">
            <img src="{{ article.icon.url }}" alt="{{ article.title }}">
          </div>
          {# 课程基本信息 #}
          <div class="article-info col-md-5">
            <h3>{{ article.title }}</h3>
            <span>作者：{{ article.author.get_nickname_or_username }}</span>
            类别：<span class="label label-info">{{ article.article_type.type_name }}</span>
            <div class="article-score-start">
              {% for foo in score_avg|get_range %}
                <img src="{% static 'img/starsy.png' %}" alt="" width="20" height="20">
              {% endfor %}
              {% for foo in score_avg|get_sub|get_range %}
                <img src="{% static 'img/starky.png' %}" alt="" width="20" height="20">
              {% endfor %}
              <span class="article-score-info">{{ score_avg|floatformat }}分 | 当前有{{ score_count }}条打分</span>
            </div>
            <div id="btn-article">
              {% if user.is_authenticated %}
                {% if is_participate %}
                  <button class="btn-join" onclick="beginStudy()">开始学习</button>
                  <button class="btn-drop-out" onclick="dropOut({{ article.pk }})">退出课程</button>
                {% else %}
                  <button class="btn-join" onclick="participate({{ article.pk }})">立即参加</button>
                {% endif %}
              {% else %}
                <a href="javascript:window.location.href='{% url 'login_to' %}?from={{ request.get_full_path }}'">
                  <button class="btn-join">立即参加</button>
                </a>
              {% endif %}
            </div>
            <div class="participate">
              <img src="{% static 'img/system_icon/用户.svg' %}" alt="" width="15" height="15"
                   style="vertical-align: -5%">
              <span class="all-participate-num">已有{% get_participate_num article %}人参加</span>
              <span>创建于{{ article.created_time|date:'Y年m月d日' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# 课程介绍、目录、讨论区 #}
    <div class="row">
      <div class="col-md-9 article-detail distance-top">
        <div class="price">
          <div class="category">
            <ul>
              <li class=" change">课程介绍</li>
              <li class="change">课程目录</li>
              <li class="change">课程评价</li>
            </ul>
          </div>
          <div class="cont active">
            <div class="content-body">
              {% if article.content %}
                {{ article.content|safe }}
              {% else %}
                <div class="no_discuss">
                  <img src="{% static 'img/system_icon/订单.svg' %}" alt="">
                  <h1>暂无介绍</h1>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="cont">
            <div class="list-body new-height">
              <ul>
                {% if article.get_course_num %}
                  <li><p>总共{{ article.get_course_num }}课时</p></li>
                {% endif %}
                {% for article in article_list %}
                  <li class="article-list">
                    {% if user.is_authenticated and is_participate %}
                      <a href="{% url 'article_text' article.pk %}"
                         class="list-group-item" target="view_window">
                        <span class="article-title">第{{ article.num }}课时</span>
                        <span>{{ article.title }}</span>
                      </a>
                    {% else %}
                      {% if forloop.counter0 < 2 %}
                        <a href="{% url 'article_text' article.pk %}"
                           class="list-group-item" target="view_window">
                          <span class="article-title">第{{ article.num }}课时</span>
                          <span>{{ article.title }}</span>
                          <span class="pull-right">
                            {% if user.is_authenticated %}
                              <span class="visit">试看</span>
                            {% else %}
                              <span class="visit">登录后试看</span>
                            {% endif %}

                          </span>
                        </a>
                      {% else %}
                        <a href="" class="list-group-item" target="view_window" onclick="return false;">
                          <span class="article-title">第{{ article.num }}课时</span>
                          <span>{{ article.title }}</span>
                          <span class="pull-right">
                            <img src="{% static 'img/system_icon/锁.svg' %}" alt="" class="lock">
                          </span>
                        </a>
                      {% endif %}
                    {% endif %}
                  </li>
                {% empty %}
                  <div class="no_content">
                    <img src="{% static 'img/system_icon/3huigu1.svg' %}" alt="">
                    <h1>暂无课程</h1>
                  </div>
                {% endfor %}

              </ul>
            </div>
          </div>
          <div class="cont">
            <div class="access">
              {% if user.is_authenticated %}
                <div class="starts">
                  <span class="pull-left">分数：</span>
                  <ul id="pingStar">
                    <li rel="1" title="极差" per="极差"></li>
                    <li rel="2" title="一般" per="一般"></li>
                    <li rel="3" title="还行" per="还行"></li>
                    <li rel="4" title="很好" per="很好"></li>
                    <li rel="5" title="推荐" per="推荐"></li>
                  </ul>
                  <input type="hidden" value="" id="startP"/>
                </div>
                <div class="clearfix"></div>
                <form action="{% url 'add_score' %}" method="POST" id="score_form">
                  {% csrf_token %}
                  {% get_score_form article %}
                  {% if is_participate %}
                    <input type="submit" class="btn btn-primary score-submit" value="提交评分">
                  {% else %}
                    <input type="submit" class="btn btn-primary score-submit" value="请先参加" disabled>
                  {% endif %}
                </form>
              {% else %}
                <div class="account-tip">
                  您尚未登录，登录之后方可评论~
                  <a class="btn btn-primary" href="{% url 'login_to' %}?from={{ request.get_full_path }}">登录</a>
                  <span> or </span>
                  <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                </div>
              {% endif %}
              <div class="clearfix" style="border-bottom: 1px solid #cdcdcd"></div>
              <div class="score-list">
                {% get_score_list article as score_list %}
                {% get_parti_time_to_now article as parti_time_to_now %}
                {% for score in score_list.page_of_data %}
                  <div class="scored-item" id="scored_{{ score.pk }}">
                    <div class="pull-left score-user">{{ score.user.get_nickname_or_username }}</div>
                    {% for object_id, parti in parti_time_to_now.items %}
                      {% if score.object_id == object_id %}
                        <div class="score-time pull-right">{{ parti }}天前参加课程</div>
                      {% endif %}
                    {% endfor %}
                    <span>
                    {% for foo in score.scored_num|get_range %}
                      <img src="{% static 'img/starsy.png' %}" alt="" width="13" height="13">
                    {% endfor %}
                      {% for foo in score.scored_num|get_sub|get_range %}
                        <img src="{% static 'img/starky.png' %}" alt="" width="13" height="13">
                      {% endfor %}
                </span>
                    <div class="score-text">
                      {{ score.text }}
                    </div>
                    <div class="score-time" style="font-size: 12px;">{{ score.scored_time }}</div>
                  </div>
                {% empty %}
                  <div class="no_content">
                    <p>抢沙发~来发评价吧！</p>
                  </div>
                {% endfor %}
                <div class="clearfix"></div>
              </div>
            </div>
          {# 分页器 #}
            <ul class="pagination pagination-lg">
              <li onclick="pageControl()">
                {% if score_list.page_of_data.has_previous %}
                  <a href="?page={{ score_list.page_of_data.previous_page_number }}"
                     aria-label="Previous" id="page-control">
                    <span aria-hidden="true">上一页</span>
                  </a>
                {% else %}
                  <span aria-hidden="true">上一页</span>
                {% endif %}
              </li>
              {% for page_num in score_list.page_list %}
                {% if page_num == score_list.page_of_data.number %}
                  <li class="active"><span>{{ page_num }}</span></li>
                {% else %}
                  <li onclick="pageControl()">
                    <a href="?page={{ page_num }}" id="page-control">{{ page_num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              <li onclick="pageControl()">
                {% if score_list.page_of_data.has_next %}
                  <a href="?page={{ score_list.page_of_data.next_page_number }}"
                     aria-label="Previous" id="page-control">
                    <span aria-hidden="true">下一页</span>
                  </a>
                {% else %}
                  <span aria-hidden="true">下一页</span>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
      {# 侧边栏-作者信息 #}
      <div class="col-md-3 distance-top">
        <div class="aside-author">
          <a href="{% url 'user_center' article.author.pk %}">
            <div class="author-icon">
              <img src="{{ article.author.profile.icon.url }}" alt="{{ article.author.get_nickname_or_username }}">
            </div>
            {{ article.author.get_nickname_or_username }}
          </a>
          <div class="placeholder"></div>
          {% if article.introduction %}
            <div class="have_introduction">{{ article.introduction }}</div>
          {% else %}
            <div class="no_introduction">暂无简介</div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-3 distance-top recommend">
        <h2>课程推荐</h2>
        <div class="recommend-list">
          <ul>
            {% for recommend in recommends %}
              <li class="recommend-item">
                <a href="{% url 'article_detail' recommend.pk %}">
                  <div class="recommend-img">
                    <img src="{{ recommend.icon.url }}" alt="" width="150" height="80">
                  </div>
                  <div>
                    {{ recommend.title }}
                  </div>
                </a>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {# 退出参加模态框 #}
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="opt_out">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
          <p>确定放弃学习该课程？</p>
        </div>
        <div class="pull-left error_message"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary double-confirm">确定退出</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
{% block ext_js %}
  <script src="{% static 'article/article_detail.js' %}"></script>
  <script type="text/javascript">
    $(window).scroll(function () {
      if ($('.recommend-list').height() <= $(window).scrollTop()) {
       $('.recommend').css('position', 'sticky');
       $('.recommend').css('top', '0');
      }
    });

    // 分页器
    function pageControl() {
      sessionStorage.setItem('page_num', '1');
    }
    $(window).load(function () {
      if (sessionStorage.getItem('page_num') != null) {
        $('html').animate({scrollTop: $('#score_form').offset().top - 60}, 0);
        sessionStorage.removeItem('page_num');
      }
    });

    // 参加课程
    function participate(article_pk) {
      $.ajax({
        url: '{% url 'participate_article' %}',
        type: 'GET',
        data: {
          article_pk: article_pk
        },
        cache: false,
        success: function (data) {
          console.log(data);
          if (data['status'] == 'SUCCESS' && data['code'] == 200) {
            $('#tips p').text(data['message']);
            $('#tips').attr('class', 'animated fadeIn').show();
            setTimeout(function () {
              $('#tips').attr('class', 'animated fadeOut');
            }, 2000);
            window.location.reload();
          } else if (data['status'] == 'SUCCESS' && data['code'] == 201) {
            alert(data['message']);
          }
        },
        error: function (xhr) {
        }
      });
    }

    // 退出课程
    function dropOut(article_pk) {
      $('#opt_out').modal('show');
      $('.double-confirm').click(function () {
        $.ajax({
          url: '{% url 'drop_out_article' %}',
          type: 'GET',
          data: {
            article_pk: article_pk
          },
          cache: false,
          success: function (data) {
            if (data['status'] == 'SUCCESS' && data['code'] == 200) {
              $('#opt_out').modal('hide');
              $('#tips p').text(data['message']);
              $('#tips').attr('class', 'animated fadeIn').show();
              setTimeout(function () {
                $('#tips').attr('class', 'animated fadeOut');
              }, 2000);
              window.location.reload();
            } else {
              $('.error_message').text(data['message']);
            }
          },
          error: function (xhr) {
            console.log(xhr);
          }
        });
      });
    }

    // 打分ajax
    $('#score_form').submit(function () {
      $.ajax({
        url: '{% url 'add_score' %}',
        type: 'POST',
        data: $(this).serialize(),
        cache: false,
        success: function (data) {
          if (data['status'] == 'SUCCESS') {
            $('#id_text').val('');
            $('#tips p').text('打分成功');
            $('#tips').attr('class', 'animated fadeIn').show();
            setTimeout(function () {
              $('#tips').attr('class', 'animated fadeOut');
            }, 2000);
            window.location.reload()
          } else {
            $('#tips p').text(data['message']);
            $('#tips').attr('class', 'animated fadeIn').show();
            setTimeout(function () {
              $('#tips').attr('class', 'animated fadeOut');
            }, 2000);
          }
        },
        error: function (xhr) {
          console.log(xhr);
        }
      });
      return false;
    });

  </script>
{% endblock %}