{% extends 'base.html' %}
{% load static %}
{% block title %}
  更改密码
{% endblock %}
{% block ext_css %}
  <link rel="stylesheet" href="{% static 'user/public_css.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <h2>更改密码</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form action="" method="POST">
          {% csrf_token %}
          {% for field in change_password_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <p class="text-danger">{{ field.errors.as_text }}</p>
          {% endfor %}
          <div class="tip">{{ register_form.non_field_errors }}</div>
          <input type="submit" value="修改" class="btn btn-primary pull-left">
        </form>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
{% block ext_js %}
  <script>
    $('#id_new_password_again').blur(function () {
      const new_password = $('#id_new_password').val();
      const new_password_again = $('#id_new_password_again').val();
      if(new_password != new_password_again){
        $('.tip').text('* 密码不一致');
      }
    });
  </script>
{% endblock %}