.save-btn {
    margin: 1em 0;
    width: 220px;
    height: 52px;
    background-image: linear-gradient(135deg, #56CCF2 0%, #2F80ED 100%);
    border: none;
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}